.ql-blured-bg {
  background: linear-gradient(to left,
      #1c1f27,
      rgba(255, 255, 255, 0.1)) !important;
  border-radius: 20px !important;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-image: transparent !important;
  padding: 20px !important;
}

@media (max-width: 500px) {
  .qubic-lab-logo {
    margin-bottom: 30px;
    img {
      height: 100px;
    }
  }
}